/* Accidental Presidency - latin */
@font-face {
  font-family: 'Accidental Presidency';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('~/assets/fonts/accidental-presidency/accidental-presidency.ttf') format('truetype'), /* Safari, Android, iOS */
}